.presentaion-center {
    margin: auto;
    width: 70%;
    padding: 40px;
    text-align: center;
}

.ant-carousel .slick-dots li button {
    background: #532c2c;
}

.ant-carousel .slick-dots li.slick-active button {
    background-color: #225e96;
}

.carousel-style {
    padding: 0;
    margin-top: 10px;
    height: 100%;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
}

.slogan-pic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 8px;
 }