body {
  background-color: #ffffff;
}
.app-content {
  margin-top: 64px;
  margin-bottom: 64px;
  height: 100%;
  text-align: center;
  background-color: #ffffff;
}

.footer-style {
  position: relative;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #ffffff;
  transition-property: font-size;
  transition-delay: 0.2s;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
.footer-style:hover {
  font-size: 20px;
}

.content-style {
  margin-top: 64px;
  height: 160px;
  color: #fff;
  text-align: center;
  background-color: #ffffff;
}
