body{
  background-color: #B0C4DE;
}
.app-content {
  margin-top: 64px; 
  text-align: center;
  background-color: #B0C4DE;
}

.footer-style {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  background-color: #B0C4DE;
}
